requests
pyinstaller
pywebview[gtk]; sys_platform == "linux"
pywebview; sys_platform != "linux"
# desktop-notifier (NOT USED FOR NOW! will be used in a future update :3)
# pystray (NOT USED FOR NOW! will be used in a future update :3)
termcolor