.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    transition: all 0.3s ease;
}

.popup-content {
    background: var(--frameColor);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);

    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;

    animation: fadeIn 0.3s ease-out;
}

.popup-content .overflow {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--elemColor) var(--frameColor);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-content h3 {
    margin-top: 0;
    margin-bottom: 20px;
    
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.popup-content .button {
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

.secondary {
    margin-top: 20px !important;
}